<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BatchFlow.Properties.Settings>
            <setting name="RetryWaitMillis" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="QueuedItemsThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="QueuedItemsOverflowSleepTime" serializeAs="String">
                <value>10</value>
            </setting>
        </BatchFlow.Properties.Settings>
    </applicationSettings>
</configuration>